.sass-cache
/.idea
/.vscode
/src/vendor
*.log
/src/thinkphp
.env
!.env.example

/config/cert/*
!/config/cert/cacert.pem
!/config/cert/openssl.cnf

/src/public/uploads/*
!/src/public/uploads/index.html

/resource/node_modules
/resource/dest
/src/public/aspnet_client
/src/public/static/fonts