.sass-cache
/.idea
/.vscode
/src/vendor
*.log
/src/thinkphp
.env
src/cert
!src/cert/cacert.pem
/src/public/uploads/*
!/src/public/uploads/index.html
/src/resource/node_modules
/src/resource/dest
/src/public/aspnet_client
/src/public/static/fonts