.sass-cache
/.idea
/.vscode
/htdocs/vendor
*.log
/htdocs/thinkphp
.env
htdocs/cert
!htdocs/cert/cacert.pem
/htdocs/public/uploads/*
!/htdocs/public/uploads/index.html
/htdocs/resource/node_modules
/htdocs/resource/dest
/htdocs/public/aspnet_client
/htdocs/public/static/fonts