html{font-size:14px;}

body{background:#f5f5f5;}

h1{font-size:1.5rem;}
h2{font-size:1.4rem;}
h3{font-size:1.3rem;}
h4{font-size:1.2rem;}
h5{font-size:1.1rem;}
h6{ font-size :1rem;}

.empty{
    text-align: center;
    color: #999;
    padding:50px 0;
}

.control-label{
    margin-bottom:0;
    line-height :2.25rem;
}
.nav-box{
    border-bottom:1px #2b2b2c solid;
    padding:0;
    line-height:2.5;
}
.navbar-brand{
    padding:0.5rem 0;
    margin-right:0;
}
.navbar-brand img{
    display:block;
}
.main-nav{
    margin-right:150px;
    flex:1;
}
.nav-box .dropdown-menu{
    margin:0;
    border-radius:0;
    border-top:1px #992835 solid;
    background:#343a40;
}
.nav-box .dropdown-menu .dropdown-item{
    color:rgba(255,255,255,.5);
}
.nav-box .dropdown-menu .dropdown-item:hover,.nav-box .dropdown-menu .dropdown-item:focus{
    color:rgba(255,255,255,.9);
    background:none;
}
.nav-box .dropdown-menu .active{
    color:rgba(255,255,255,1);
    background:none;
}

/*==========首页各版块样式==========*/
#carouselBannerControls{
    height :597px;
}
#carouselBannerControls .carousel-item{
    height :597px;
    overflow: hidden;
    background:url(../images/blank.gif) center center no-repeat #272727;
    background-size:auto 100%;
}
#carouselBannerControls .carousel-item img{
    display:none;
}

.index-card{
    padding:30px;
}
.index-bg{
    background:#fff;
}
.index-card-title h2{
    text-align: center;
    color:#282828;
}
.index-card-title h2::after{
    content:".";
    color:#bf1e2e;
    font-size:2rem;
    line-height: 0.6;
    font-weight:bold;
    vertical-align: sub;
}
.index-card-title p{
    text-align: center;
    color:#c2c2c2;
}
.index-card .slide h2{
    text-align: left;
}
.index-card .slide p{
    text-align: left;
}

.service-body{
    padding-top:40px;
}
.service-body .figure{
    transition:opacity .3s;
}
.service-body .figure:hover{
    opacity: .5;
}
.service-body .figure figcaption{
    text-align: center;
    white-space: nowrap;
}
.service-body .figure-title{
    color:#282828;
}
.service-body .figure-caption{
    font-size:0.8rem;
}

.solution-body .nav{
    background:#f2f2f2;
}
.solution-body .nav-link{
    padding:24px 30px;
    color:#282828;
    border-radius:0;
    position:relative;
    border-bottom:1px #d7d7d7 solid;
    transition:background-color .3s;
}
.solution-body .nav-link:last-child{
    border-bottom:0;
}
.solution-body .nav-pills .nav-link.active{
    background:rgba(0,0,0,.1);
    color:#282828;
}
.solution-body .nav-pills .nav-link:after{
    content:"";
    display:block;
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:0;
    background:rgba(0,0,0,.1);
    border-left:0;
    transition:all .5s;
}
.solution-body .nav-pills .nav-link.active:after{
    left:-16px;
    width:16px;
    border-left:4px #282828 solid;
}
.solution-body .nav-link p{
    line-height:1.8rem;
    margin:0;
}
.solution-body .nav-link .vice_title{
    color:#b2b2b2;
}


.cases-body .card{
    border-radius:0;
    box-shadow: rgba(0,0,0,.08) 0 0 5px;
    position: relative;
    transition: background-color .3s;
    border:0;
}
.cases-body .card .card-body{
    position: relative;
    z-index:2;
}
.cases-body .card h3{
    transition: color .3s;
}
.cases-body .card .mask{
    background:url(../images/eye.png) center -99px no-repeat rgba(0,0,0,0);
    transition:background-color,background-position .5s;
    z-index:1;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height :100%;
}
.cases-body .card:hover{
    background:#1f2326;
}
.cases-body .card:hover .mask{
    background-color:rgba(0,0,0,.6);
    background-position:center 72px;
}
.cases-body .card:hover h3{
    color:#fff;
}

.about-body{
    padding-top:60px;
}

.slide-box a{
    color:#fff;
    line-height:3rem;
    display:inline-block;
    width:3rem;
    text-align: center;
    background:#1f2326;
    border-radius:5px;
}

.news-body a{
    text-decoration: none;
}
.news-body .media{
    background:#fff;
    transition:background-color .3s;
}
.news-body .media>img{
    width: 133px;
    height :100px;
}
.news-body .media-body{
    padding-top:1.6rem;
}
.news-body .media .badge{
    border-radius:0;
    padding:0 10px;
    color:#c2c2c2;
    border:1px #c2c2c2 solid;
    background:transparent;
    display:inline-block;
    line-height :1.6rem;
    margin-right:1rem;
}
.news-body .media .text-muted{
    color:#c2c2c2;
}
.news-body .media h4{
    color:#1f2326;
    transition:color .3s;
    font-size:1rem;
    margin-top:1rem;
}
.news-body .media:hover{
    background:#1f2326;
}
.news-body .media:hover h4{
    color:#fff;
}
/*==========首页各版块样式 END==========*/

.subbanner .inner{
    height :250px;
    background:url(../images/blank.gif) center center no-repeat #272727;
    background-size:cover;
}

.main{
    padding:0 0 1rem 0;
}


.nav-row{
    border-bottom:1px #e6e6e6 solid;
}
.nav-row .row-item{
    text-align: center;
    line-height :4rem;
    margin-top:1rem;
    color:#282828;
}
.nav-row .active{
    color:#bf1e2e;
}


.page-title{
    text-align: center;
    line-height:4rem;
    margin-top:4rem;
}
.page-title:after{
    content:"";
    display:block;
    width:60px;
    height:0;
    border-bottom:2px #bf1e2e solid;
    margin:0 auto;
}

.page-content{
    min-height: 500px;
}

/*==========案例列表==========*/
.case-list{
    padding:2rem 0;
}
.case-list .card{
    border-radius:0;
    box-shadow: rgba(0,0,0,.08) 0 0 5px;
    position: relative;
    transition: background-color .3s;
    border:0;
}
.case-list .card .card-body{
    position: relative;
    z-index:2;
}
.case-list .card h3{
    transition: color .3s;
}
.case-list .card .mask{
    background:url(../images/eye.png) center -99px no-repeat rgba(0,0,0,0);
    transition:background-color,background-position .5s;
    z-index:1;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height :100%;
}
.case-list .card:hover{
    background:#1f2326;
}
.case-list .card:hover .mask{
    background-color:rgba(0,0,0,.6);
    background-position:center 72px;
}
.case-list .card:hover h3{
    color:#fff;
}

/*==========新闻列表==========*/
.article-list{
    padding-top:2rem;
}
.article-list li{
    border-bottom:1px #e6e6e6 solid;
    padding-top:1rem;
    padding-bottom:1rem;
}
.article-list li .media-img{
    width: 133px;
    height: 100px;
    margin-right:1rem;
}
.article-list h5{
    line-height:2rem;
}
.article-list h5 a{
    color:#1f2326;
}
.article-list .media-body div{
    line-height:1.6rem;
    color:#a1a1a1;
    font-size:0.9rem;
}
.article-list .media-body p{
    margin:0;
}


/*==========新闻详情==========*/
.article-body{
    padding-top:4rem;
}
.article-title{
    font-size:2rem;
    line-height:4rem;
    text-align: center;
}
.article-info{
    margin-bottom:1.5rem;
}
.article-info a{
    color:#333;
    display: inline-block;
    border:1px #ccc solid;
    padding:0 10px;
}
.article-content{
    background:#fff;
    border-radius:5px;
    box-shadow: rgba(0,0,0,.1) 0 0 5px;
    padding:50px;
    min-height:500px;
    margin-bottom:2rem;
}




@media (min-width:992px) {
    .control-label {
        text-align: right;
    }
}
.footer{
    padding-top:70px;
}
.footer dd{
    margin-top:1.8rem;
    line-height:1.8rem;
}
.footer dl dd a{
    display:block;
    color:#898989;
}
.footer hr{
    border-color:#3e4044;
}
.copyright-row{
    line-height:40px;
    padding-bottom:20px;
}