<IfModule mod_rewrite.c>
  Options +FollowSymlinks -Multiviews
  RewriteEngine On

#  SSL
#  RewriteCond %{SERVER_NAME} !^www.gdyhjk.cn$
#  RewriteRule ^.*$ https://www.gdyhjk.cn%{REQUEST_URI} [L,R=301]

#  RewriteCond %{SERVER_PORT} !^443$
#  RewriteRule ^.*$ https://www.gdyhjk.cn%{REQUEST_URI} [L,R=301]

  RewriteCond %{REQUEST_URI} !^/(uploads|static)/
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]
# apache + php-fpm 的代理模式
#  RewriteRule ^(.*)$ fcgi://127.0.0.1:9000/data/web/shirne/public/index.php/$1 [P,END]

  RewriteCond   %{REQUEST_FILENAME} -f
  RewriteCond   %{QUERY_STRING} ^(w|h)\=.+
  RewriteRule   ^(uploads/.+?\.(jpe?g|png)) index.php/task/util/cropimage?img=$1 [NC,L,QSA]

  RewriteCond   %{REQUEST_URI} ^/uploads/
  RewriteCond   %{REQUEST_FILENAME} !-f
  RewriteRule   ^(uploads/.+?\.(jpe?g|png)) index.php/task/util/cacheimage?img=$1 [NC,L,QSA]
</IfModule>
